@use '../../../styles/variables';


.input-wrapper {
    color: variables.$primary-color;
    font-size: 16px;
    text-align: start;
    width: 100%;

    label {

        .input-content {
            width: 100%;
            border-radius: 8px;
            display: flex;
            flex-direction: row;
            margin-top: 10px;

            input {
                border: none;
                background-color: variables.$black-bg;
                color: variables.$text-color;
                padding: 12px 0 12px 20px;
                width: 100%;
                border-radius: 8px 0 0 8px;

                &::placeholder {
                    color: white;
                }
            }

            .icon {
                padding: 12px;
                background-color: variables.$primary-color;
                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 0px 8px 8px 0px;
            }
        }
    }

}